@page "/user/Register/{data?}"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Register</h3>
                    </div>
                    <img src="~/images/icons/logo-google.png" alt="Alternate Text" class="mx-auto w-25" />
                </div>
            </div>
        </div>
    </div>